h1{
    text-align: center;
}
h1, form label, form input{
    font-family: 'Chivo Mono', monospace;
}
body{
    margin-left: 5%;
    margin-right: 5%;
}
form span{
    color: red;
}
input[type=text]{
    margin-bottom: 1em;
}
form  label{
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-right: 2em;
}
form button{
    margin-left: 50%;
    padding: 1em;
    border-radius: .5em;
    color: green;
    background-color: purple;
    cursor: pointer;
}
form button:hover{
    background-color: aliceblue;
}
@media only screen and (max-width: 475px){
    form label{
        text-align: left;
        width: 100%;
    }
    form button{
        margin-left: 0%;
    }
}